@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* -----ОБЩИЕ СТИЛИ */
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  color: #959595;

  background-color: #202020;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}

.logo {
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  color: #dedede;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.btn {
  font-size: 18px;
  color: #ffffff;

  padding: 16px 48px;
  display: inline-block;
  background: #9d9d9d;
  border-radius: 4px;
}
.btn::before {
  content: url("/images/logo_mail.svg");
  padding-right: 10px;
}

/* -------------HEADER-------------*/
.header {
  padding: 20px 0;
  background: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(10px);

  /* Note: backdrop-filter has minimal browser support */
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  gap: 60px;
}

.header__link {
  font-weight: 700;
  font-size: 18px;
}

/*---------------- MAIN----------------*/

.welcome .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 130px;
}

.welcome__title {
  width: 500px;
  height: 192px;

  font-weight: 700;
  font-size: 54px;
  line-height: 1.19;
  /* or 119% */
  letter-spacing: -0.5px;
  margin-bottom: 24px;
  color: #dedede;
}
.welcome__text {
  width: 410px;
  margin-bottom: 88px;
}
.btn {
  font-size: 18px;
  color: #ffffff;

  padding: 16px 48px;
  display: inline-block;
  background: #9d9d9d;
  border-radius: 4px;
}
.btn::before {
  content: url("/images/logo_mail.svg");
  padding-right: 10px;
}

.welcome__img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-right: 105px;
}

/* ------- */

.works {
  padding-top: 145px;
}

.works__btn {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 8px 8px 80px 0;

  background-color: transparent;
  border: none;

  font-family: "Manrope";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #dedede;
  opacity: 0.7;
}

.works__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.work {
  /* height: 888px; */
  height: 700px;
  position: relative;
}
.work:hover .work__name {
  opacity: 1;
  transition: 0.3s;
}
.work__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.work__name {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  /* identical to box height */
  letter-spacing: -0.5px;

  background-color: rgba(0, 0, 0, 0.6);
}

.work:nth-child(2n) {
  position: relative;
  top: 100px;
}

.projects1__name {
  /* Visual Explorations */
  display: flex;
  padding-top: 378px;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.5px;

  color: #dedede;
}

/* -------- */

.projects1__list {
  padding-top: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.projects1__work {
  width: 400px;
  height: 400px;
}
.projects1__work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ------ */

.projects2__name {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #dedede;

  padding-top: 240px;
}

.projects2__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  padding-top: 66px;
}

.projects2__work__img {
  width: 400px;
  height: 560px;
  object-fit: cover;
  object-position: center;
}

/* --------- */

.contactMe {
  display: flex;
  text-align: center;
  justify-content: center;
}

.contactMe__name {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.5px;

  color: #dedede;

  padding-top: 240px;
}
.container__text {
  max-width: 521px;
}
.contactMe__text {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.46;
  /* or 146% */
  letter-spacing: -0.5px;

  color: #959595;

  padding-top: 24px;
}

/* ------ */

.secondBtn {
  padding-top: 48px;
  padding-bottom: 124px;
}

/* ------- */

.footer {
  border-top: 1px solid;
  border-color: #696969;

  height: 84px;
}

.footer__desk {
  height: 84px;

  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 5px;
}
.footer__text {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: -0.5px;

  color: #959595;
}
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 43px;
}

/* ----------- */

@media (max-width: 1350px) {
  .projects1__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1050px) {
  .welcome__img {
    margin-right: 0;
  }
}

@media (max-width: 950px) {
  .welcome .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 64px;
    padding-top: 70px;
  }

  .welcome__img {
    max-width: 320px;
    max-height: 320px;
  }

  .welcome__title {
    margin: 0;
    width: auto;
    height: auto;
  }

  .welcome__text {
    width: auto;
    padding-top: 20px;
    
  }

  .welcome__desk {
    text-align: center;
  }

  .projects1__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .projects1__work{
    height: 300px;
    width: 300px;
  }

  .projects2__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects2__work__img{
    width: 300px;
    height: 460px;
  }

  .works__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .work {
    width: 370px;
    height: 470px;
  }
}

@media (max-width: 810px){
  
}
